*tfstate*
*lock*
*terraform-provider-aws*
Ansible/Challenge/Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.73.0/darwin_arm64/LICENSE.txt
Terraform Challenge/Config Files/.terraform/providers/registry.terraform.io/hashicorp/aws/5.69.0/darwin_arm64/LICENSE.txt
Terraform_examples/lab5/.terraform/providers/registry.terraform.io/hashicorp/aws/5.71.0/darwin_arm64/LICENSE.txt
